// Color Variables
$orange: #e18a36;
$darkMarine: #59606F;
$black: #000;
$white: #fff;
$tan: #f3f0e9;
$lightMarine: #B5C6CB;
$gray: #848996;
$royal: #1D4196;
$lime: #8bbf40;
// Image Path (relative to style.scss)
$imagePath: 'optimization/images/';
